<script>
    {% assign nowdate = site.time | date: "%Y-%m-%d" %}
    var calendar_items = [
        {% for item in site.categories.kalenteri %}
            {% assign itemdate = item.date | date: "%Y-%m-%d" %}
            {% if item.repeat or itemdate >= nowdate %}{% include calendar_item.json %},{% endif %}
        {% endfor %}
    ];
</script>
<ul class="item-list events" data-bind="foreach: events">
    <li>
        <span class="date-wrapper">
            <span class="date" data-bind="text: date() + '.'">&nbsp;</span>
            <span class="monthname" data-bind="text: monthname">&nbsp;</span>
        </span>
        <span class="time-wrapper">
            <span class="hour" data-bind="text:hour">&nbsp;</span><span class="separator">.</span><span class="minute" data-bind="text: minute">&nbsp;</span>
        </span>
        <span data-bind="text: title">&nbsp;</span>
    </li>
</ul>
