<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <base href="{{ site.url }}">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="keywords" content="rovaniemi, rovaniemen helluntaiseurakunta, helluntaiseurakunta, helluntaikirkko, rovaniemen helluntaikirkko">
        <meta name="description" content="Rovaniemen helluntaiseurakunta">

        <meta name="viewport" content="width=device-width">
        <link href="/stylesheets/app.css" rel="stylesheet">

        <style>
            {% if page.header-text-position %}
                .main .image-and-title h2 {
                    top: {{ page.header-text-position.top }};
                }
            {% endif %}
        </style>

        <!--[if lt IE 9]>
        <script>
            document.createElement('header');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('aside');
            document.createElement('footer');
        </script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class=chromeframe>Selaimesi on
          <em>ikivanha!</em> <a href="http://browsehappy.com/">Päivitä toiseen
              selaimeen</a> tai <a
              href="http://www.google.com/chromeframe/?redirect=true">asenna
              Google Chrome Frame</a> kokeaksesi tämän sivuston
        </p><![endif]-->

        <div class="container">
            <div class="header">
                <h1>
                    <a href="{{ site.url }}">
                        {{ site.name }}
                    </a>
                </h1>
            </div>

            <div class="main">
                <nav>
                    {% assign menu_items = site.menu %}
                    {% include navigation_list.html %}
                </nav>
                <div class="image-and-title">
                    <div class="padder">
                        {% if page.url == "/index.html" %}
                            <img src="/images/content/headers/etusivu-default.jpg" alt="">
                        {% else %}
                            <h2 class="{% if page.header-text-position.right %}right{% else %}left{% endif %}">
                                {{ page.title }}
                            </h2>
                            <img src="/images/content/headers/{{ page.header-image-name }}" alt="">
                        {% endif %}
                    </div>
                </div>
                <aside class="aside events-or-nav">
                    {% if page.url == "/index.html" %}
                        <h2>Tulevia tapahtumia</h2>
                        <script>
                            {% assign nowdate = site.time | date: "%Y-%m-%d" %}
                            var calendar_items = [
                                {% for item in site.categories.kalenteri %}
                                    {% assign itemdate = item.date | date: "%Y-%m-%d" %}
                                    {% if item.repeat or itemdate >= nowdate %}{% include calendar_item.json %},{% endif %}
                                {% endfor %}
                            ];
                        </script>
                        <ul class="item-list events" data-bind="foreach: events">
                            <li>
                                <span class="date-wrapper">
                                    <span class="date" data-bind="text: date"></span>
                                    <span class="monthname" data-bind="text: monthname"></span>
                                </span>
                                <span class="time-wrapper">
                                    <span class="hour" data-bind="text:hour"></span><span class="separator"></span><span class="minute" data-bind="text: minute"></span>
                                </span>
                                <span data-bind="text: title"></span>
                            </li>
                        </ul>
                    {% else %}
                        <nav>
                            {% assign menu_items = site.menu %}
                            {% include navigation_list.html %}
                        </nav>
                    {% endif %}
                </aside>
                <div class="content">
                    {{ content }}
                </div>
                <div class="footer">
                    <ul>
                        <li>
                            <h6>Osoite</h6>
                            <p>
                                Kairatie 37<br>
                                96100 ROVANIEMI
                            </p>
                        </li>
                        <li>
                            <h6>Pastori</h6>
                            <p>
                                Esa Pikkumäki<br>
                                +358 40 7368 579
                            </p>
                        </li>
                        <li>
                            <h6>Nuorisotyöntekijä</h6>
                            <p>
                                Mari Valui<br>
                                +358 12 1234 123
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/javascripts/knockout.js"></script>
        <!--{% if page.javascript %}
        {% for js in page.javascript %}
        <script src="/javascripts/{{ js }}"></script>
        {% endfor %}
        {% endif %}-->
        <script src="/javascripts/app.js"></script>
        <script>
            //var _gaq=[ ['_setAccount','UA-33852684-1'],['_setDomainName', 'www.perhekotihokkanen.fi'],['_trackPageview'] ];
            //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
